* @xdata-avagyan @xdata-petrosyan @xdata-cherkaev @xdata-gharibyan @xdata-hayrapetyan @xdata-denis

.github/ @xdata-cherkaev
Dockerfile @xdata-cherkaev
azure-pipelines.yml @xdata-cherkaev

pa11yCheck.js @xdata-denis @xdata-cherkaev
pa11yci.json @xdata-denis @xdata-cherkaev
