.host {
  --slider-card-width: 320px;
  --slider-card-gap: 8px;
  --slider-card-visible-part: 152px;
  --slider-card-invisible-part: 168px;
  --slider-active-index: 0;

  --extra-vertical-offset: 12px;

  margin: calc(-1 * var(--extra-vertical-offset)) 0;
}
.wrapper {
  padding: var(--extra-vertical-offset) 0;
}
.wrapper::after,
.wrapper::before {
  position: absolute;
  content: "";
  top: var(--extra-vertical-offset);
  width: 152px;
  height: 208px;
  background: linear-gradient(
    to right,
    rgba(246, 246, 246, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
  pointer-events: none;
}
.wrapper::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(246, 246, 246, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
[class="dark"] .wrapper::before {
  background: linear-gradient(
    to right,
    hsla(0, 0%, 100%, 0.1) 0%,
    hsla(220, 10%, 12%, 1) 100%
  );
}
[class="dark"] .wrapper::after {
  background: linear-gradient(
    to left,
    hsla(0, 0%, 100%, 0.1) 0%,
    hsla(220, 10%, 12%, 1) 100%
  );
}
.slider {
  transform: translateX(
    calc(
      0px - var(--slider-active-index) *
        (var(--slider-card-width) + var(--slider-card-gap) * 2) -
        var(--slider-card-invisible-part)
    )
  );
}

.controlPrev:before,
.controlNext:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow:
    0px 4px 12px 0px rgba(0, 0, 0, 0.04),
    0px 2px 2px 0px rgba(0, 0, 0, 0.03);
  z-index: -1;
}
.controlPrev {
  top: 50%;
  left: calc(var(--slider-card-visible-part) + var(--slider-card-gap) * 2);
  transform: translate(-50%, -50%);
}
.controlNext {
  top: 50%;
  right: calc(var(--slider-card-visible-part) + var(--slider-card-gap) * 2);
  transform: translate(50%, -50%);
}

.slide {
  opacity: 0.4;
  transition:
    opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0.95);
  transform-origin: 50% 50%;
}

.slideActive {
  opacity: 1;
  transform: scale(1);
}

.placeholderFirst {
  padding-left: var(--slider-card-invisible-part);
}

.placeholderLast {
  padding-right: var(--slider-card-invisible-part);
}

.beforeActive {
  /*
    transform-origin: 100% 50%;
    */
}

.afterActive {
  /*
    transform-origin: 0 50%;
    */
}
